<html>

<head>
</head>

<body>

	<form action="{% url 'job' %}">
		
		{% csrf_token %}
		
		<table>
			<tr>
				<td>Case Number</td>
				<td><input type="text" required="required"/></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;"><input type="submit"/></td>
			</tr>
		</table>
		
	</form>
</body>

</html>